body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   font-size: small;
}
.window {
  top: 2px;
  left: 2px;
  right: 2px;
  width: 1200px;
  height: 2280px;
  border: 2px solid #000000;
  background: #000000;
}
.content {
   padding: 2px;
}
header {
   background: #ffffff;
   color: rgb(0, 0, 0);
   padding: 10px;
   height: 30px;
   font-size: large;
}
#headderLeft {
   float: left; 
   margin-left: 43px;
   margin-right: 47px; 
}
#headderRight {
   float: right; 
   margin-left: 43px;
   margin-right: 43px; 
}
label {
   font-size: larger;
   text-align: center;
}
#sectionTitle {
   margin-right: 600px;
   float: right;
}
section {
   height: 302px;
   background: #1d3228;
   color: white;
   padding: 10px;
   font-size: medium;
}
aside {
   width: 220px;
}
article {
   font-family: Arial, sans-serif;
   font-size: medium;
}
#sectionLeft {
   float: left;
   margin-right: 10px; 
}
#sectionRight {
   width: 940px;
   float: right;
}
footer {
   height: 200px;
   background: #1d3228;
   color: white;
   padding: 10px;
   font-size: small;
}